<ion-content>
  <div class="container">
    <div class="about__container ion-text-center">
      <div class="section ion-align-items-center ion-padding">
        <h1><strong>Even more that youcan imagine</strong></h1>
        <h6>Garbler is not just a ptoject, is an impact</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facere
          reiciendis.
        </p>

        <img
          src="https://images.unsplash.com/photo-1530587191325-3db32d826c18?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374"
          alt="garbage"
        />
      </div>

      <div class="section ion-padding">
        <h1><strong>Our team</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        <div class="steps-card ion-padding-horizontal">
          <img
            shape="round"
            src="../../assets/images/angel.jpg"
            alt="verified"
          />
          <h3><strong>Angel Lopez</strong></h3>
          <p>CEO/Founder</p>
        </div>

        <div class="steps-card ion-padding-horizontal">
          <img id="john" src="../../assets/images/john.jpg" alt="verified" />
          <h3><strong>Jonathan Ocampo</strong></h3>
          <p>Networks lead</p>
        </div>

        <div class="steps-card ion-padding-horizontal">
          <img src="../../assets/images/charlie.jpg" alt="verified" />
          <h3><strong>Carlos Sanchez</strong></h3>
          <p>Frontend lead</p>
        </div>
      </div>

      <div class="section ion-padding">
        <h1 class="ion-margin-bottom"><strong>Our story</strong></h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
          optio eligendi molestiae pariatur facere minima provident natus
          corporis, non harum vitae sint amet deserunt quidem velit! Rem
          distinctio exercitationem repellat?
        </p>
      </div>
      <div
        class="mision__section ion-margin-vertical ion-justify-content-center ion-text-start ion-padding ion-align-items-center"
      >
        <h1 class="ion-margin-bottom">
          <strong><ion-text color="light">Our mision</ion-text></strong>
        </h1>
        <p>
          <ion-text color="light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
            optio eligendi molestiae pariatur facere minima provident natus
            corporis, non harum vitae sint amet deserunt quidem velit! Rem
            distinctio exercitationem repellat?
          </ion-text>
        </p>
      </div>

      <div
        class="vision__section ion-justify-content-center ion-text-end ion-padding ion-align-items-center"
      >
        <h1 class="ion-margin-bottom">
          <strong><ion-text color="light">Our Vision</ion-text></strong>
        </h1>
        <p>
          <ion-text color="light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
            optio eligendi molestiae pariatur facere minima provident natus
            corporis, non harum vitae sint amet deserunt quidem velit! Rem
            distinctio exercitationem repellat?
          </ion-text>
        </p>
      </div>

      <div class="section ion-padding">
        <h1><strong>Download our deck</strong></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis,
          officiis magnam.
        </p>
        <ion-button class="start__button" shape="round">Download</ion-button>
      </div>
    </div>
  </div>
</ion-content>
