<ion-content>
  <div class="container">
    <div class="home__container ion-text-center ion-padding">
      <div class="section ion-align-items-center">
        <h1><strong>Start tracking your truck.</strong></h1>
        <h6><strong>And be conected with others</strong></h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facere
          reiciendis.
        </p>

        <ion-button class="start__button" shape="round">Start now</ion-button>
      </div>

      <div class="section">
        <h1><strong>What is garbler?</strong></h1>
        <h3>
          <strong
            ><ion-text color="medium"
              >Know more about our porject</ion-text
            ></strong
          >
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
          optio eligendi molestiae pariatur facere minima provident natus
          corporis, non harum vitae sint amet deserunt quidem velit! Rem
          distinctio exercitationem repellat?
        </p>
        <ion-button routerLink="/about" class="start__button" shape="round"
          >Explore more</ion-button
        >
      </div>

      <div class="section">
        <h1 class="ion-margin-bottom"><strong>How it works?</strong></h1>
        <div class="steps-card ion-padding-horizontal">
          <img src="../../assets/images/person-verified.png" alt="verified" />
          <h3><strong>1. Just sign up</strong></h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            mollitia ipsam possimus.
          </p>
        </div>

        <div class="steps-card ion-padding-horizontal">
          <img src="../../assets/images/map.png" alt="verified" />
          <h3><strong>2. Select your district</strong></h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            mollitia ipsam possimus.
          </p>
        </div>

        <div class="steps-card ion-padding-horizontal">
          <img src="../../assets/images/location.png" alt="verified" />
          <h3><strong>3. Start tracking</strong></h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            mollitia ipsam possimus.
          </p>
        </div>
      </div>
    </div>
    <div
      class="contact__section ion-margin-vertical ion-justify-content-center ion-align-items-center"
    >
      <ion-button class="start__button" shape="round">Contact us</ion-button>
    </div>
  </div>
</ion-content>
