.container {
  .home__container {
    .section {
      margin: 200px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .start__button {
        width: 70%;
        margin: 16px auto;
      }

      .steps-card {
        margin: 50px 0;
      }
    }
  }

  .contact__section {
    background-color: var(--ion-color-dark);
    display: flex;
    height: 100px;
    ion-button {
      width: 70%;
    }
  }
}
