<ion-content>
  <div class="container">
    <div class="home__container ion-text-center">
      <div class="section ion-align-items-center ion-padding">
        <div
          class="user__container ion-justify-content-end ion-align-items-center"
        >
          <div class="user-info__section ion-justify-content-end">
            <div class="ion-margin-end ion-text-end">
              <p class="ion-no-margin"><strong>{{ userName }}</strong></p>
              <p class="ion-no-margin">{{ userDistrict }}</p>
            </div>
            <div>
              <img
                class="user-img"
                src="../../assets/images/charlie.jpg"
                alt="profile_image"
              />
            </div>
          </div>
        </div>

        <div class="welcome-text ion-text-start">
          <h2 class="ion-no-margin">Welcome</h2>
          <h1 class="ion-no-margin">
            <strong class="ion-no-margin">{{ userName }}!</strong>
          </h1>
        </div>

        <div class="truck__section ion-text-start">
          <h4>Your truck</h4>
          <div class="truck-card ion-justify-content-between ion-padding">
            <div class="truck-info">
              <h4>Truck 4</h4>
              <p class="ion-no-margin">
                <ion-text color="primary">picking up</ion-text>
              </p>
              <p id="see-map" class="ion-no-margin">See the map</p>
            </div>
            <div class="truck-img">
              <img src="../../assets/images/truck.png" alt="truck" />
            </div>
          </div>
        </div>
      </div>

      <div class="section ion-padding">
        <div class="related__section ion-text-start">
          <h4>Related</h4>
          <div class="related-card ion-justify-content-center ion-padding">
            <div class="truck-info ion-text-center ion-align-items-center">
              <p class="ion-no-margin">
                <ion-text color="primary">Something...</ion-text>
              </p>
            </div>
          </div>
          <div class="related-card ion-justify-content-center ion-padding">
            <div class="truck-info ion-text-center ion-align-items-center">
              <p class="ion-no-margin">
                <ion-text color="primary">Something...</ion-text>
              </p>
            </div>
          </div>
          <div class="related-card ion-justify-content-center ion-padding">
            <div class="truck-info ion-text-center ion-align-items-center">
              <p class="ion-no-margin">
                <ion-text color="primary">Something...</ion-text>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
