.signup__container {
  height: 80vh;
  .back__button {
    padding: 80px 0 10px 16px;
  }
  .signup__form {
    display: flex;
    .form-signup {
      margin: 0 auto;
      img {
        width: 20%;
      }
      .log__button {
        width: 60%;
      }
    }
  }
}
